a {
  transform-origin: center;
  color: wheat;
  text-decoration: none;
}

a:visited {
  color: wheat;
}

a:active {
  transform: scale(0.98);
}

.post {
  display: block;
  background-color: black;
  color: wheat;
  cursor: pointer;
  border: 1px solid whitesmoke;
  padding: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

.imageWrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
}

.header {
  font-weight: bold;
  margin: auto;
  max-width: 500px;
  margin-bottom: 40px;
}