.toast {
  position: fixed;
  left: 30%;
  bottom: 150px;
  width: 30%;
  height: 150px;
  border: 3px solid sandybrown;
  margin: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: space-evenly;
  margin: auto;
}

input {
  margin-top: 25px;
  padding: 10px;
  font-size: large;
}

button {
  padding: 10px;
  margin-top: 25px;
}

.hidden {
  visibility: hidden;
}